<div class="about-content">
			<div class="about-section">
				<div class="container">
					<div class="about-section-top text-center">
						<h3>Equipo de desarrollo</h3>
						<h4 id="desarrolladores">Desarrolladores</h4>
						<div class="contenedorUsuario usuariosShadow">
							<div class="parteDerecha">
								<p>Juan Diego Vera B.</p>
								<img src="../images/user-icon.png" alt="usuario Juan Vera">
							</div>
							<div class="parteIzquierda">
								<p class="descripcionD">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsam esse velit dignissimos dolor. Voluptatum eos quisquam veniam molestias minima dolor, deleniti earum delectus dicta provident ex, dolorum commodi quam.</p>
							</div>
						</div>
						<div class="contenedorUsuario usuariosShadow" >
							<div class="parteDerecha">
								<p>Lindthon Iparreño</p>
								<img src="../images/user-icon.png" alt="usuario Lindthon Iparreño">
							</div>
							<div class="parteIzquierda">
								<p class="descripcionD">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsam esse velit dignissimos dolor. Voluptatum eos quisquam veniam molestias minima dolor, deleniti earum delectus dicta provident ex, dolorum commodi quam.</p>
							</div>
						</div>
						<div class="contenedorUsuario usuariosShadow" >
							<div class="parteDerecha">
								<p>Diego Muñoz</p>
								<img src="../images/user-icon.png" alt="usuario Diego Muñoz">
							</div>
							<div class="parteIzquierda">
								<p class="descripcionD">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ipsam esse velit dignissimos dolor. Voluptatum eos quisquam veniam molestias minima dolor, deleniti earum delectus dicta provident ex, dolorum commodi quam.</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>