<main role="main">
  <div class="galleria-container">
    <div class="container">
      <div class="cuerpo">
        <div class="banner">
          <!--<img src="../images/PrincipalBackground.gif">-->
          <div class="trans">
            <p class="texto parrafo1">¿Se te perdió algo? ¡No te preocupes! <br>De seguro lo encuentras aquí.</p>
          </div>
          <div class="botones">
            <button class="perdio" onclick="window.location.href='./buscarObjetoPerdido.html'">¡Se me perdio algo!</button>
            <button class="encontro" onclick="window.location.href='./registrarObjetoPerdido.html'">¡Encontré algo!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>